#title{
    font-size: 3rem;
}

.num-players{
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
button{
    background-color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    text-decoration: underline;
}
/*player 1*/
.Number1{
    font-size: 2rem;
    background-color: white;
}
.p1{
    background-color: lightblue;
}
/*player 2*/
.Number2{
    font-size: 2rem;
    background-color: white;
}
.p2{
    background-color: lightblue;
}
/*player 3*/
.Number3{
    font-size: 2rem;
    background-color: white;
}
.p3{
    background-color: lightblue;
}
/*player 4*/
.Number4{
    font-size: 2rem;
    background-color: white;
}
.p4{
    background-color: lightblue;
}
#chose-name1{
    background-color: transparent;

}

#num-table{
    background-color: bisque;
}
.cpu-number{
    background-color: white;
}
.checked{
    background-color: bisque;
}
.had{
    background-color: lightblue;
}
#chose-name1, #chose-name1-2, #chose-name1-3, #chose-name1-4,
#chose-name2, #chose-name3, #chose-name4, #chose-name2-3,
#chose-name2-4,#chose-name3-4,#chose-name4{
    background-color: transparent;
}
#play1,#play2,#play3,#play4{
    font-size: 1.2rem
}
#play1:hover{
    color:indianred;
}
#play2:hover{
    color:blueviolet;
}
#play3:hover{
    color: darkgreen;
}
#play4:hover{
    color:darkkhaki;
}